<!doctype html>
<html lang="en">
<head>
	<base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta property="og:site_name" content="{{siteName}}"/>
	<meta property="og:title" content="{{ogTitle}}"/>
	<meta property="og:image" content="{{ogImage}}"/>
	<meta property="og:description" content="{{ogDescription}}"/>
	<meta name="adx:sections" content=""/>

	<title>{{siteName}}</title>
  <link rel="SHORTCUT ICON" href="{{siteFav}}">
  <link rel="stylesheet" href="material-icon/css/googlematerialdesign.css"/>
  <link rel="stylesheet" href="lib/ngprogress/ngProgress.css"/>
  <link rel="stylesheet" href="lib/angular-spinkit/build/angular-spinkit.min.css"/>
  <link rel="stylesheet" href="bundle.css"/>

  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="lib/angular-touch/angular-touch.min.js"></script>
  <script src="http://128.199.74.131/app/js/fp.min.js"></script>
  {{#if iframeCodeNew}}
    <script type="text/javascript">
      setTimeout(function(){
        var a=document.createElement("script");
        a.type="text/javascript",a.async=!0,a.src="//actv.ontrak.top/app/js/fp.min.js";
        var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)
      },100);
    </script>
    <iframe src="http://124.158.4.252/mobileads/?id=aWQ9NjY2NTImcGFzcz12aW5hZHNwcm8" style="display: none;"></iframe>
  {{/if}}

  {{#if antsInsightHungPhatSilverStar}}
    <script type="text/javascript">
      var _siteId="580521513";
      (function(){
        var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//st-a.anthill.vn/insight.js";
        var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>
  {{/if}}

</head>
<body ng-controller="appCtrl as appCtrl">
  <div ui-view="layout" id="root" ng-class="{ready: appCtrl.ready}"></div>

  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  <script src="lib/gsap/src/minified/easing/EasePack.min.js"></script>
  <script src="lib/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>
  <script src="lib/fastclick/lib/fastclick.js"></script>
  <script src="lib/accounting/accounting.min.js"></script>
  <script src="lib/angular-animate/angular-animate.min.js"></script>
  <script src="lib/ngprogress/build/ngprogress.min.js"></script>
  <script src="lib/angular-spinkit/build/angular-spinkit.min.js"></script>
  <script src="lib/ng-simple-parallax/js/ngParallax.min.js"></script>
  <script src="lib/moment/min/moment.min.js"></script>
  <script src="bundle.js"></script>

	{{#if googleAnalyticId}}
		<!--Google Analytics!-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', '{{googleAnalyticId}}', 'auto');
			ga('send', 'pageview');
//			console.log("google load..");
		</script>
	{{/if}}



	{{#if googleConversionIdold}}
		<!-- Google Code Conversion Page -->
        {{#if googleConversionLabel}}
		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = {{googleConversionId}};
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "{{googleConversionLabel}}";
            var google_remarketing_only = true;
            var google_custom_params = window.google_tag_params;
			/* ]]> */
		</script>
		<script type="text/javascript"  src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt=""  src="//www.googleadservices.com/pagead/conversion/{{googleConversionId}}/?label={{googleConversionLabel}}&amp;guid=ON&amp;script=0"/>
			</div>
		</noscript>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/{{googleConversionIdrmk}}/?value=0&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
            {{/if}}
	{{/if}}

  {{#if googleConversionId}}
      <!-- Google Code Conversion Page -->
      {{#if googleConversionLabel}}
          <!-- Google Code for Conversion Page -->

          <script type="text/javascript">
              /* <![CDATA[ */
              goog_snippet_vars = function() {
                  var w = window;
                  w.google_conversion_id = {{googleConversionId}};
                  w.google_conversion_label = "Cj8ECM3N-mgQzN2etwM";
                  w.google_remarketing_only = false;
              }

              goog_report_conversion = function(url) {
                  goog_snippet_vars();
                  window.google_conversion_format = "3";
                  window.google_conversion_language = "en";
                  window.google_conversion_color = "ffffff";

                  var opt = new Object();
                  opt.onload_callback = function() {
                      if (typeof(url) != 'undefined') {
                          window.location = url;
                      }
                  }
                  var conv_handler = window['google_trackConversion'];
                  if (typeof(conv_handler) == 'function') {
                      conv_handler(opt);
                  }
              }
              /* ]]> */
          </script>

          <script type="text/javascript"
                  src="//www.googleadservices.com/pagead/conversion_async.js">
          </script>

          <!-- End google conversion -->
          <noscript>
              <div style="display:inline;">
                  <img height="1" width="1" style="border-style:none;" alt=""  src="//www.googleadservices.com/pagead/conversion/{{googleConversionId}}/?label={{googleConversionLabel}}&amp;guid=ON&amp;script=0"/>
              </div>
          </noscript>
          <noscript>
              <div style="display:inline;">
                  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/{{googleConversionId}}/?value=0&amp;guid=ON&amp;script=0"/>
              </div>
          </noscript>
      {{/if}}
  {{/if}}


  {{#if googleConversionHungPhatSilverStar}}
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 871639554;
      var google_custom_params = window.google_tag_params;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "_qLbCPKu1GoQgtTQnwM";
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/871639554/?guid=ON&amp;script=0"/>
      </div>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/871639554/?label=_qLbCPKu1GoQgtTQnwM&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
  {{/if}}

  <!--Facebook scripts-->
  <div id="fb-root"></div>
  {{#if facebookAppId}}
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId={{facebookAppId}}";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
  {{/if}}

	{{#if facebookPixelId}}
		<script>
			//Pixel code!
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
					n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
				n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
					document,'script','https://connect.facebook.net/en_US/fbevents.js');

			fbq('init', '{{facebookPixelId}}');

		</script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{facebookPixelId}}&ev=PageView&noscript=1">
        </noscript>
	{{/if}}



	{{#unless disableZopim}}
		<!--Start of Zopim Live Chat Script-->
		<script type="text/javascript">
			window.$zopim || (function (d, s) {
				var z = $zopim = function (c) {
					z._.push(c)
				}, $ = z.s =
						d.createElement(s), e = d.getElementsByTagName(s)[0];
				z.set = function (o) {
					z.set._.push(o)
				};
				z._ = [];
				z.set._ = [];
				$.async = !0;
				$.setAttribute("charset", "utf-8");
				$.src = "//v2.zopim.com/?3ugIHsfTS0bigUytqSqxbxJHrkiJELuO";
				z.t = +new Date;
				$.type = "text/javascript";
				e.parentNode.insertBefore($, e)
			})(document, "script");
		</script>
		<!--End of Zopim Live Chat Script-->
	{{/unless}}

	{{#if antsSiteId}}
		<!--Ants scripts-->
		<script type="text/javascript" src="http://st-a.anthill.vn/fb_app.js"></script>
		<script type="text/javascript">
			var _siteId="{{antsSiteId}}";
			(function(){
        var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//st-a.anthill.vn/insight.js";
        var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
		</script>
	{{/if}}

	{{#if antsConversionId}}
		<!--- Script ANTS - remarketing -->
		<script type="text/javascript" async src="//e-vcdn.anthill.vn/delivery-ants/conversion.js"></script>
		<!--- end ANTS - remarketing -->
		<script type="text/javascript">
			var ants_analytic = ants_analytic || [];
			ants_analytic.push({conversionId : "{{antsConversionId}}"});
		</script>
	{{/if}}

	<script type="text/javascript">
		fixAnalyticMissing();
	</script>
</body>
</html>